@media screen and (max-width: 768px) {
    .header {
        backdrop-filter: none;
        background-color: var(--white1);
    }
    .logo {
        font-size: 1em;
    }

    .nav__link, 
    .nav__btn {
        font-size: 0.7em;
    }
    
    /* Botão CTA */
    .nav__btn {
        padding: 7px 9px;
        border-radius: 5px;
    }

    .nav__btn > span {
        font-size: 15px;
    }
}

@media screen and (max-width: 425px) {
    .nav__menu {
        position: fixed;
        top: 63px;
        left: 100%;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        background-color: var(--white1);
        width: 100%;
        height: 100vh;
        padding: 20px;
        box-shadow: var(--shadow);
    }

    .nav__option {
        width: 100%;
    }

    .nav__link, 
    .nav__btn {
        font-size: 1em;
    }

    .nav__link {
        display: block;
        width: 100%;
        padding: 19px;
    }

    .nav__btn {
        gap: 5px;
        padding: 11px 13px;
        border-radius: 7px;
    }

    .nav__btn > span {
        font-size: 20px;
    }

    .menu {
        display: block;
    }
}